# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* commonly used libraries used by Data Scientists
* examples of evaluating arithmetic expressions in Python

**Objectives:**

* List popular languages for Data Science
* commonly used libraries used by Data Scientists
* examples of evaluating arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. SQL

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. SQL

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. matplotlib

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. matplotlib

| Data Science Tools |
| --- |
|      RStudio       |
|    Apache Spark    |
|     JupyterLab     |

| Data Science Tools |
| --- |
|      RStudio       |
|    Apache Spark    |
|     JupyterLab     |

### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
  Yasser Imorgha

## Author
  Yasser Imorgha